@import "tailwindcss";
@import "@fontsource/handlee";
@import "@fontsource/crete-round";

body {
  background-color: black;
  color: white;
}
header,
footer {
  font-family: "Crete Round", serif;
}
main {
  font-family: "Handlee", cursive;
}
